*{
  padding: 0;
  margin: 0;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: 0,7s;
  padding: 30px 70px;
  z-index: 10;
}

.banner{
  position: absolute;
width: 1920px;
height: 40px;
left: 0px;
top: 0px;
background: #000000;
}




header .abajo{
    background: #fff;
    padding: 15px 20px;
}

header .logo{
  position: fixed;
  top: 2px;
  color: #fff;
  left: 906px;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;
  transition: 1.7s;
  text-decoration: none;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

header ul li{
  list-style: none;
}

header ul li a{
  position: relative;
  font-family: helvetica;
  margin: 0 15px;
  top: -18px;
  left: 560px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.7s
}


header .abajo .logo,
header .abajo ul li a{
    color: #fff;
}

.home {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 20px
   
}



.hermes{
    position: absolute;
    width: 480px;
    height: 762px;
    left: 0px;
    top: 1080px;
    background: #D9D9D9;
    margin: 0px;
}

.prada {
    position: absolute;
    width: 480px;
    height: 762px;
    left: 480px;
    top: 1080px;
    background: #FFFFFF;
}

.gucci {
    position: absolute;
    width: 480px;
    height: 762px;
    left: 960px;
    top: 1080px;
    background: #D9D9D9;
}

.louis {
    position: absolute;
    width: 480px;
    height: 762px;
    left: 1440px;
    top: 1080px;
    background: #FFFFFF;
}

.hermes a {
    position: absolute;
    width: 240px;
    height: 100px;
    left: 110px;
    top: 310px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 64px;
    line-height: 77px;
    color: #000000;
    margin:20px;
}

.prada a{
  position: absolute;
width: 240px;
height: 100px;
left: 140px;
top: 310px;
font-family: 'Inter';
font-style: italic;
font-weight: 100;
font-size: 64px;
line-height: 77px;
margin: 20px;

color: #000000;
}

.gucci a{
  position: absolute;
width: 228px;
height: 67px;
left: 140px;
top: 310px;
font-family: 'Inter';
font-style: italic;
font-weight: 100;
font-size: 64px;
line-height: 77px;
color: #000000;
margin: 20px;
}

.louis a{
  position: absolute;
width: 329px;
height: 272px;
left: 60px;
top: 270px;
font-family: 'Inter';
font-style: italic;
font-weight: 100;
font-size: 64px;
line-height: 77px;
text-align: center;
color: #000000;
margin: 20px;
}

